body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    width: 100%;
    height: 164px;
    
}

.header-top{
    background-color: white;
    padding: 15px ;
    height: 24px;
    display: flex;
    gap: 20px;
    width: 50%;
    margin: auto;
}

.color{
    color: #00c6a9;
}

.info{
    text-decoration: none;
    color: black;
    font-family: Noto Sans, sans-serif;
   
}

.header-bottom{
    display: flex;
    height: 110px;
    background-color: #00c6a9;
    align-items: center;
    padding: 0 10px;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 14px;
    padding: 0;
    margin: 0;
}

.imglogo{
    width: 70px;
    height: 110px;
    background-color: white;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.link{
    text-decoration: none;
    color: white;
    margin-left: 50px;
    transition: color 0.3s ease;
    font-size: 16px;
    font-family: Noto Sans, sans-serif;
}

.link:hover{
    color: black;
}


.pechenka{
    display: flex; 
    font-family: Noto Sans, sans-serif;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.pechenka a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}
.pechenka a:hover{
    color: black;
}

.polpichenki{
    display: flex;
    align-items: center;
}

.polpichenki .btn{
    background: none;
    border: none;
    font-size: 18px;
    color: white;
    padding: 30px;
    transition: color 0.3s ease;
}

.polpichenki .btn:hover{
    color: black;
}

/* footer */

.end{
    height: 513px;
    background-color: #252525;
    width: 100%;
}

.malekuly{
    width: 50%;
    margin: auto;
    display: flex;
}

.obshirnoe{
    margin: auto;
    display: flex;
}

.white{
    width: 70px;
    height: 110px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.atom{
    border: none;
    border-bottom: solid 1px #ffffff ;
    margin-bottom: 90px;
    width: 100%;
    margin-left: 40px;
    font-family: Noto Sans, sans-serif;
    position: relative;
    top: 50px;
}

.minatom{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    display: flex;
}

.knopka{
    border: none;
    background: none;
    color: #00c6a9;
    margin-left: auto;
    text-decoration: none;
}

.mandarin{
    background: none;
    border: none;
    font-size: 16px;
    outline: none;
    color: white;
}

h5{
    font-size: 20px;
    color: white;
    font-family: Noto Sans, sans-serif;
    text-transform: uppercase;
    position: relative;
    right: -20px;
    top: 30px;
    
}

.pirog{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
}

.sosiski2{
    font-family: Noto Sans, sans-serif;
    top: 30px;
    position: relative;
}

.sosi_nika{
    width: 15px;
}

.sosiski{
   color: white;
   display: flex;
   padding-bottom: 10px;
   text-decoration: none;
   gap: 15px;
}

h5::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #00c6a9;
    transform: translateY(-50%);
    left: -20px;
}

.ikonki{
    color: #00c6a9;
    font-size: 24px;
    padding-right: 5px;
    text-decoration: none;

}

.ikonki2{
   top: 30px;
   position: relative;
   top: 45px;
}

.suliki{
    text-decoration: none;
    color: white;
    font-family: Noto Sans, sans-serif;
    transition: color 0.3s ease;
}

.suliki:hover{
    color:#00c6a9 ;
}

.burgeriukas{
    list-style: none;
    padding-bottom: 10px;
    
}

.burger-king{
    padding-left: 0;   
    position: relative;
    top: 30px;
}

.golubcy2{
    color: #00c6a9;
}

.aguzok{
    width:70px ;
    height:70px  ;
    
}

.burunduki{
    display: flex;
    padding-top: 30px;
}

.chip{
    display: flex;
    padding-top: 10px;
}

.speshite{
    display: flex;
    padding-top: 30px;
}

.ty{
    display: flex;
    padding-top: 10px;
}

.scrip{
    color: white;
    font-family: Noto Sans, sans-serif;
    padding-left: 10px;
}

.otshelnik{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Noto Sans, sans-serif;
    padding: 30px;
}

.okak{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Noto Sans, sans-serif;
}

/* main */
/* section 1 Mico Hospital */
.fullHD{
    width: 100%;
    height: 630px;
    box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.2);
}

.papochka-blinchikov{
    display: flex;
    width: 50%;
    margin: auto;
}

.mochi {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #00c6a9;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 90px;
    position: relative;
    animation: aura 2s infinite ease-in-out;
}

.my-icon {
    transform: scale(1.3);
}

@keyframes aura {
    0% {
        box-shadow: 0 0 0px 0 rgba(0, 198, 169, 0.7);
    }
    50% {
        box-shadow: 0 0 0px 15px rgba(0, 198, 169, 0);
    }
    100% {
        box-shadow: 0 0 0px 0 rgba(0, 198, 169, 0);
    }
}


.zelionka{
    font-family: Noto Sans, sans-serif;
    margin-top: 50px;
    font-size: 47px;
    line-height: 1;
}

.dell{
    color: #00c6a9;
}

.paliruj{
    font-family: Noto Sans, sans-serif;
    width: 80%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.609);
}

.topchik{
    text-decoration: none;
    border: solid 1px black;
    border-radius: 5px;
    padding: 12px 45px;
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: Noto Sans, sans-serif;
    
}


.bortiki{
    margin-top: 50px;
    
}

.wsio-ili-nechewo{
    z-index: 2;
}
/* img */

.hachapuri{
    width: 580px;
    height: 150;
}

.venera{
   
    width: 25px;
    height: 25px;
    z-index: 2;
}

.mars{
    
    width: 25px;
    height: 25px;
    margin-right: 35px;
    z-index: 2;
}

.jupiter{
    background-color: #00c6a9;
    width:10px ;
    height:15px ;
    padding:17px 20px ;
    transition: color 0.3s ease;
   
}

.jupiter:hover{
    background-color: black;
   
}

.kosmos{
    display: flex;
    margin-top: 70px;
    justify-content: flex-end;
   
}
.dots{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -360px;
    z-index: 1;
}
.dota{
    width: 600px;
}
#arrowL{
    border: none;
    background-color: unset;
}
#arrowR{
    border: none;
    background-color: unset;
}
/* section 2 book apointment */
.knizhka{
    height: 500px;
    
}
